/* styles.css */

/* General Body Styles */
body {
    font-family: "Arial", sans-serif;
    background: url("https://png.pngtree.com/thumb_back/fh260/background/20230412/pngtree-colorful-clouds-cartoon-clouds-fantasy-clouds-sky-cute-background-image_2204266.jpg"); /* Background image */
    background-size: cover;
    color: #e4c6cd; /* Text color */
    margin: 0;
    padding: 0;
}

/* Header Styles */
h1 {
    color: #e7a6b3; /* I just like this pink. Might change later -M */
    text-align: center;
    margin-top: 20px;
}
h2 {
    color: #fffbfc; /* header 2 color */
    text-align: center;
    margin-top: 10px;
}

/* Button Styles */
button {
    background-color: #fcc4cf; /* Hospital blue */
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e7a6b3;
}

/* Form Styles */
form {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="range"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="range"] {
    width: 100%;
}

/* List of Conditions */
ul {
    list-style-type: none;
    padding: 0;
    border-color: #e7a6b3;
    border-width: 5px;
}

li {
    padding: 10px;
    margin: 5px 0;
    background-color: #fffbfc; /*f1dde2*/
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: #d9534f; /* Red for delete */
}

a:hover {
    text-decoration: underline;
}

/* Container for the Page */
.container {
    width: 80%;
    margin: 0 auto;
}

#chat-form {
    h2 {
        color: black;
    }

    .message {
        width: fit-content;
        color: #333;
    }

    .doctor {
        background: #00ffdf;
    }

    .patient {
        background: #00dfff;
        text-align: right;
        margin-left: auto;
    }

    .timestamp {
        font-size: 0.75em;
        color: #666;
    }
}
